<div class="available-cards-section">
    <!-- Loading Indicator -->
    <ng-container *ngIf="isFetching(); else availableCardsContent">
        <p class="fallback-text">Loading the Forbidden Pieces...</p>
    </ng-container>

    <!-- Content -->
    <ng-template #availableCardsContent>
        <!-- Error -->
        <p *ngIf="error()" class="error-text">{{ error() }}</p>

        <ul>
            <li *ngFor="let card of availableCards(); trackBy: trackById" class="card-item available-card-item">
                <button (click)="onSelectCard(card)">
                    <img [src]="'assets/cards/' + card.image.src" [alt]="card.image.alt" class="available-card-image" />
                </button>
            </li>
        </ul>
    </ng-template>
</div>