<div [ngClass]="isUserCards ? 'user-cards-section card-section' : 'available-cards-section card-section'">
    <ul>
        <li *ngFor="let card of cards; let i = index; trackBy: trackById" class="card-item" [ngStyle]="{'--index': i}">
            <button (click)="isUserCards ? onRemoveCard(card) : onSelectCard(card)"
                [attr.aria-label]="isUserCards ? 'Remove card' : 'Select card'">
                <img [src]="'assets/cards/' + card.image.src" [alt]="card.image.alt"
                    [ngClass]="{'available-card-image': !isUserCards, 'user-card-image': isUserCards}" />
            </button>
        </li>
    </ul>
</div>