/* Header */
header {
    text-align: center;
}

header img {
    margin: -15rem auto 0 auto;
    width: 40vw;
    object-fit: contain;
    opacity: 0.3;
    filter: drop-shadow(0px 0px 8px rgb(0, 0, 0));
    position: relative;
    z-index: 1;
}

header h1 {
    margin-top: -24rem;
    font-size: 4vw;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 10px;
    z-index: 3000;
    position: relative;
}

header h3 {
    margin: -3rem auto 1rem auto;
    font-size: 1.5vw;
    font-weight: 500;
    letter-spacing: 3px;
    width: 90%;
    z-index: 3000;
    position: relative;
}

/* Error */
.error-notification {
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 15px;
    z-index: 1000;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


@media (max-width: 1600px) {


    header img {
        margin: -15rem auto 0 auto;
        width: 45vw;
    }

    header h1 {
        margin-top: -24rem;
        font-size: 4vw;
    }

    header h3 {
        margin: -2rem auto 1rem auto;
        font-size: 1.5vw;
    }


}





@media (max-width: 1440px) {


    header img {
        margin: -13rem auto 0 auto;
        width: 45vw;
    }

    header h1 {
        margin-top: -21rem;
        font-size: 4vw;
    }

    header h3 {
        margin: -2rem auto 1rem auto;
        font-size: 1.5vw;
    }


}


@media (max-width: 1280px) {


    header img {
        margin: -13rem auto 0 auto;
        width: 50vw;
    }

    header h1 {
        margin-top: -19rem;
        font-size: 4vw;
    }

    header h3 {
        margin: -2rem auto 1rem auto;
        font-size: 1.5vw;
    }

}



@media (max-width: 1024px) {

    header img {
        margin: -12rem auto 0 auto;
        width: 60vw;
    }

    header h1 {
        margin-top: -16rem;
        font-size: 4vw;
    }

    header h3 {
        margin: -1rem auto 1rem auto;
        font-size: 1.8vw;
    }

}


@media (max-width: 768px) {

    header img {
        margin: -8rem auto 0 auto;
        width: 65vw;
    }

    header h1 {
        margin-top: -6em;
        font-size: 5vw;
    }

    header h3 {
        margin: -1rem auto 1rem auto;
        font-size: 2vw;
    }

    .error-notification {
        font-size: 1rem;
        padding: 8px 16px;
    }

}



@media (max-width: 600px) {

    header img {
        margin: -4rem auto 0 auto;
        width: 65vw;
    }

    header h1 {
        margin-top: -8rem;
        font-size: 6vw;
    }

    header h3 {
        margin: 0rem auto 1rem auto;
        font-size: 2.5vw;
        line-height: 1.6;
    }

}


@media (max-width: 430px) {

    header img {
        margin: -160px auto -55px -65px;
        width: 115vw;
        opacity: 0.4;
    }

    header h1 {
        margin: -140px auto 10px 5px;
        font-size: 8vw;
    }

    header h3 {
        margin: 0 auto -40px 0;
        font-size: 3.5vw;
        line-height: 1.6;
        width: 100%;
    }

    .error-notification {
        font-size: 0.9rem;
        padding: 6px 12px;
    }


}